datasets/ml-9-2018-small
raw.githubusercontent.com
tmp-*
out-*
*.nav
*.snm
.kile
*.kilepr
*.synctex.gz
.ipynb_checkpoints
__pycache__
*.Rproj
*.brf
*.aux
*.log
*.backup
*.toc
*.bbl
*.blg
*.out
*.lof
*.lot
*.spl
*.thm
.Rhistory
.RData
.Rproj.user
*.kate-swp
sphinx/_build
sphinx/_api
sphinx/chapter
